 .list {
    color: white;
    background-color: rgb(115, 137, 173);
    width: 32%;
    height: 32%;
    text-align: center;
    border-radius: 5px;
    margin-bottom: auto;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
}

#name-input{
    width: 25%;
    height: 25px;
    margin-bottom: 20px;
}

.add {
    color: white;
    background-color: #ee7575;
    padding: 7px 12px;
    border-radius: 5PX;
}

ul {
  margin-left: 20%;
  margin-right: 15%;
  width: 40%;
  align-items: center;
}